.button {
  padding: 15px 40px;
  background-color: $secondary;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: 0;
  cursor: pointer;

  &--outlined {
    padding: 15px 40px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
    background-color: $backgroud-color;
    color: $secondary;
    border: 0;
    outline: 1px solid $secondary;
    cursor: pointer;
  }
}
