.card {
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
  max-width: 328px;
  width: 100%;

  &__icon {
    width: 72px;
    height: 72px;
    background-color: $secondary;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    font-size: $card-title;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 24px;
  }

  &__line {
    width: 50px;
    height: 2px;
    background-color: $secondary;
    margin-bottom: 20px;
    line-height: 20px;
  }

  &__content {
    font-size: $card-content;
  }
}
