.header {
  padding: 20px 70px;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav {
    display: flex;
    align-items: center;
    column-gap: 58px;

    &__contacts {
      text-decoration: none;
      color: $font-secondary;
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
    }

    &__btn {
      padding: 8px 60px;
      border: 2px solid $secondary;
      color: $secondary;
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      border-radius: 7px;
    }
  }
}
